- var checkDisabled = user.id!=internship.student_user_id;

script
  $('document').ready(function(){
      $('#scheduledOnDatePicker').datepicker({
          dateFormat: 'yy-mm-dd',
          onSelect: function(dateText, inst) {
              $('[name="activityEdit[scheduled_on]"]').val(dateText);
          }
      });

      $('#completedOnDatePicker').datepicker({
          dateFormat: 'yy-mm-dd',
          onSelect: function(dateText, inst) {
              $('[name="activityEdit[completed_on]"]').val(dateText);
          }
      });

      $("#scheduledOnDatePicker").attr("readOnly", true);
      $("#completedOnDatePicker").attr("readOnly", true);

      $("#activity").validate({
          rules: {
              "activityEdit[scheduled_on]": "required",
              "activityEdit[description]": "required"
          },
          messages: {
              "activityEdit[scheduled_on]": "please select a scheduled on date",
              "activityEdit[description]": "please provide a description"
          }
      });
  });

p
div#links
  a(href="/#{user.id}/intern/#{internship.id}") back to internship
  p
  
- if (checkDisabled)
  h2(class="title") Review Activity\!
- else
  h2(class="title")= title

div#messages
  p= error

  form#activity(method="post")
    input(name="activityEdit[activity_id]", value=activity.id, type="hidden")
    input(name="activityEdit[internship_id]", value=internship.id, type="hidden")
    - if (!(checkDisabled))
      input(type="submit", name="operation", value="save")
      &nbsp;
      input(type="submit", name="operation", value="delete")
      p
    table
      tr
        td
          label scheduled\ on:
        td
          input(id="scheduledOnDatePicker", name="activityEdit[scheduled_on]", value=activity.scheduled_on, disabled=checkDisabled)
      tr
        td
          label completed\ on:
        td
          input(id="completedOnDatePicker", name="activityEdit[completed_on]", value=activity.completed_on, disabled=checkDisabled)
          
    table      
      tr
        td
          label description:
      tr
        td
          textarea(name="activityEdit[description]", disabled=checkDisabled, rows=10, cols=45)=activity.description
          
div#comments
  h3(class="title") comments
  p
  a(href="/#{user.id}/intern/#{internship.id}/activity/#{activity.id}/comment") new\ comment
  p
  - if (activity.comments.length > 0)
    table
      th(align="left", style="width:20%;")
        label contributor\:
      th(align="left", style="width:20%;")
        label posted\ on\:
      th(align="left", style="width:60;")
        label comment\:
      - each comment in activity.comments
        tr
          td
            =comment.contributor
          td
            =comment.posted_on
          td
            =comment.comment
