h1= title

p= error

div#links
- if (user.role=="student")
  a(href="/#{user.id}/intern/new") new
  
  p
  
table(width="40%")
  tr
    th(align="left", style="width:10%;")
      label status\:
    th(align="left", style="width:30%;")
      label project\ title\:
    - if (!(user.role=="student"))
      th(align="left", style="width:30%;")
        label student\ name\:
    
  each internship in internships
    tr
      td= internship.status
      td
        a(href="/#{user.id}/intern/#{internship.id}")= internship.project_title
      - if (!(user.role=="student"))
        td= internship.student_name

