- var checkDisabled = user.id!=internship.student_user_id;
- var checkSponsorRequested = internship.sponsor_requested_on;
- var checkAdvisorRequested = internship.advisor_requested_on;
script
  $('document').ready(function(){
      $('#employmentBeginOnDatePicker').datepicker({
          dateFormat: 'yy-mm-dd',
          onSelect: function(dateText, inst) {
              $('[name="editIntern[employment_begin_on]"]').val(dateText);
          }
      });
    
      $('#presentationOnDatePicker').datepicker({
          dateFormat: 'yy-mm-dd',
          onSelect: function(dateText, inst) {
              $('[name="editIntern[colloquium_presentation_on]"]').val(dateText);
          }
      });

      $("#presentationOnDatePicker").attr("readOnly", true);
      $("#employmentBeginOnDatePicker").attr("readOnly", true);
  
      $("#internshipForm").validate({
          rules: {
              "editIntern[university_student_number]": "required",
              "editIntern[sponsor_company]": "required",
              "editIntern[sponsor_address]": "required",
              "editIntern[project_title]": "required",
              "editIntern[project_description]": "required"
          },
          messages: {
              "editIntern[university_student_number]": "please enter your student number",
              "editIntern[sponsor_company]": "please enter your sponsor company",
              "editIntern[sponsor_address]": "please enter the sponsor company address",
              "editIntern[project_title]": "please enter your project title",
              "editIntern[project_description]": "please enter a project description"
          }
      });
      
      $('#helpParticipants').hide();
      $('#toggleHelpParticipants').click(function(){
          $('#helpParticipants').animate({"height": "toggle"}, { duration: 500 }); 
      }); 

      $('#helpActivities').hide();
      $('#toggleHelpActivities').click(function(){
          $('#helpActivities').animate({"height": "toggle"}, { duration: 500 }); 
      }); 
   });

p
div#links
  a(href="/#{user.id}/intern/list") back\ to\ list
  p 
  
- if (checkDisabled)
  h2(class="title") Review Internship\!
- else
  h2(class="title")= title

div#messages
  p= error

div#internship
  form#internshipForm(method="post")
    input(name="editIntern[id]", value=internship.id, type="hidden")
    table
      tr
        td
          - if (!(checkDisabled) && !(internship.status == "cancelled"))
            input(type="submit", name="operation", value="save")
            &nbsp;
            input(type="submit", name="operation", value="cancel")
          - if (!(checkDisabled) && (internship.status == "cancelled"))
            input(type="submit", name="operation", value="reopen")
          - if (user.role == "admin")
            input(type="submit", name="operation", value="approve")
          p
        td
          = info
          p
      tr
        td
          label status:
        td
          input(name='display_status', value=internship.status, disabled="disabled")
      tr
        td
          label first\ name:
        td
          input(name='display_first_name', value=internship.first_name, disabled="disabled")
      tr
        td
          label last\ name:
        td
          input(name='display_last_name', value=internship.last_name, disabled="disabled")
      tr
        td
          label university\ student\ number:
        td
          input(name='editIntern[university_student_number]', value=internship.university_student_number, disabled=checkDisabled)
      tr
        td
          label quarter\ \\\ year:
        td
          select(name='editIntern[quarter]', style="width: 50;")
            - var a = ['winter', 'spring', 'summer', 'fall']
            each v in a
              option(value=v, selected=v==internship.quarter, disabled=checkDisabled)=v
          \ \ \\\ \ \ 
          select(name='editIntern[year]', style="width: 30;")
            - var a = ['2012', '2013', '2014', '2015']
            each v in a
              option(value=v, selected=v==internship.year, disabled=checkDisabled)=v
      tr
        td
          label number\ of\ credits:
        td
          select(name='editIntern[number_of_credits]', style="width: 80;")
            - var a = ['5', '10']
            each v in a
              option(value=v, selected=v==internship.number_of_credits, disabled=checkDisabled)=v
      tr
        td
          label sponsor\ company:
        td
          input(name='editIntern[sponsor_company]', value=internship.sponsor_company, disabled=checkDisabled)
      tr
        td
          label sponsor\ address:
        td
          input(name='editIntern[sponsor_address]', value=internship.sponsor_address, disabled=checkDisabled)
      tr
        td
          label project\ title:
        td
          input(name='editIntern[project_title]', value=internship.project_title, disabled=checkDisabled)
      - if (["pending", "ready"].indexOf(internship.status) == -1)
        tr
          td
            label admin\ approved\ on\:
          td
            input(name='editIntern[admin_approved_on]', value=internship.admin_approved_on, disabled=true)
        tr
          td
            label employment\ begin\ on\:
          td
            input(id="employmentBeginOnDatePicker", name='editIntern[employment_begin_on]', value=internship.employment_begin_on, disabled=checkDisabled)
        tr
          td
            label colloquium\ presentation\ on\:
          td
            input(id="presentationOnDatePicker", name='editIntern[colloquium_presentation_on]', value=internship.colloquium_presentation_on, disabled=checkDisabled)
            
    table
      tr
        td
          label project\ description:
      tr
        td
          textarea(name='editIntern[project_description]', disabled=checkDisabled, rows=10, cols=45)= internship.project_description

div#participants
  h3(class="title") participants <span id="toggleHelpParticipants", style="color:blue; text-decoration:underline; font-size:14px;">?</span>
  - if (!(checkDisabled))
    p
    a(href="/#{user.id}/intern/#{internship.id}/request") request\ participant
  p
  - if (internship.participants.length > 0)
    table
      th(align="left", style="width:15%;")
        label role\:
      th(align="left", style="width:20%;")
        label name\:
      th(align="left", style="width:20%;")
        label email\:
      th(align="left", style="width:20%;")
        label requested\ on\:
      th(align="left", style="width:20%;")
        label accepted\ on\:
      - if (!(checkDisabled))
        th(align="left", style="width:5%;")
          label remove\:
      - each participant in internship.participants
        tr
          td
            = participant.role
          td
            = participant.full_name
          td
            = participant.email_address
          td
            = participant.requested_on
          td
            = participant.accepted_on
          - if (!(checkDisabled))
            td
              a(href="/#{user.id}/intern/#{internship.id}/remove/#{participant.id}") X
              
  div#helpParticipants
    span In order to complete the internship process, you will need to have an industry <b>sponsor</b> as well as a faculty <b>advisor</b> agree to participate, use the "request participant" link (above), then fill out and submit the form and an email will be sent to your requested participant with a link that they can click to indicate their acceptance.  Once your sponsor and advisor have accepted, your internship will be "ready" for the program administrator to approve, then you can begin your employment.

div#activities
  h3(class="title") activities <span id="toggleHelpActivities", style="color:blue; text-decoration:underline; font-size:14px;">?</span>
  - if (!(checkDisabled))
    a(href="/#{user.id}/intern/#{internship.id}/activity/new") new\ activity
  p
  - if (internship.activities.length > 0)
    table
      th(align="left", style="width:20%;")
        label decription\:
      th(align="left", style="width:20%;")
        label scheduled\ on\:
      th(align="left", style="width:20%;")
        label completed\ on\:
      th(align="left", style="width:20%;")
        label latest\ contributor\:
      th(align="left", style="width:20%;")
        label latest\ post\:
      - each activity in internship.activities
        tr
          td
            a(href="/#{user.id}/intern/#{internship.id}/activity/#{activity.id}")= activity.description
          td
            = activity.scheduled_on
          td
            = activity.completed_on
          td
            = activity.latest_contributor
          td
            = activity.latest_edit

  div#helpActivities
    span In order to complete the internship process, you will need to have at least four meetings with your advisor to discuss your progress periodically throughout the course of the internship, use the "new activity" link above in order to schedule those meetings.  Then you,  your advisor (as well as your sponsor and the program administrator) will be able to record comments toward the completion of those activities.
