script
  $('document').ready(function() {
      $("#requestParticipant").validate({
          rules: {
              "requestParticipant[first_name]": "required",
              "requestParticipant[last_name]": "required",
              "requestParticipant[email_address]": {
                  required: true,
                  email: true
              },
              "requestParticipant[message]": "required"
          },
          messages: {
              "requestParticipant[first_name]": "please enter the participant's first name",
              "requestParticipant[last_name]": "please enter the participant's last name",
              "requestParticipant[email_address]": "please enter the participant's valid email address",
              "requestParticipant[message]": "please enter a message"
          }
      });
  });

div#links
  a(href="/#{user.id}/intern/#{internship.id}") back to internship
  p
  
h2= title

div#messages
  p= error

  form#requestParticipant(method="post")
    input(name="requestParticipant[password]", value="shhh", type="hidden")
    input(name="requestParticipant[host]", value=host, type="hidden")
    input(type="submit", value="send request")
    table
      tr
        td
          label participant\ type:
        td
          select(name='requestParticipant[role]', style="width: 100%;")
            - var a = ['advisor', 'sponsor']
            each v in a
              option(value=v)=v
              
    table
      tr
        td
          label first\ name:
        td
          input(name="requestParticipant[first_name]")
      tr
        td
          label last\ name:
        td
          input(name="requestParticipant[last_name]")
      tr
        td
          label email\ address:
        td
          input(name="requestParticipant[email_address]")
    p
    table
      tr
        td
          label request\ message:
      tr
        td
          textarea(name='requestParticipant[message]', rows=10, cols=45)

